.cabecalho {
  margin: 50px;
}

figure {
    border-radius: 50%;
    width: 350px;
    height: 350px;
    overflow: hidden;
    position: relative;
  }

img {
    position: absolute;
    bottom: 0px;
    width: 350px;
}

h1 {
  font-size: 35px;
  margin: 0px;
}




