body{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin-top: 0px;
  padding-top: 0;
}

.App {
  background-color: bisque;
  /*height: 500px;
  width: 500px;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

