body{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.App {
  background-color: bisque;
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}